<h1>Mission</h1>
<p>
    To provide a professional level concrete skatepark which includes features seen in other famous parks.  To avoid making mistakes seen elsewhere by instead hiring the correct experts for the job and using the correct materials.
    Parks built by park riders for park riders.  There are some good examples of well built parks in Ohio and throughout other states, and we want to bring that level of quality, longevity, and experience to Vermilion.
</p>
<h1>About</h1>
<p>
    Our committee, with representatives from city council, the school district, the business community, and skatepark locals is working to develop and raise funds for a world class destination skatepark to be poured and built by an experienced, qualified skatepark builder in Vermilion, Ohio. All meetings and events are open to the public and will be announced here. Have your voices heard by attending in person. This group is primarily to promote the project and to keep interested people updated on events, progress, and meeting dates.
</p>