
<!-- https://www.facebook.com/Vermilion-Ohio-Skatepark-166244700750527 -->

<!--<div class="fb-page" 
     data-href="https://www.facebook.com/Vermilion-Ohio-Skatepark-166244700750527" 
     data-tabs="timeline, messages, events, posts" 
     data-small-header="false" 
     data-adapt-container-width="true" 
     data-hide-cover="false" 
     data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/Vermilion-Ohio-Skatepark-166244700750527" 
                class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/Vermilion-Ohio-Skatepark-166244700750527">Vermilion Ohio Skatepark</a></blockquote></div>-->

<iframe 
  src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FVermilion-Ohio-Skatepark-166244700750527&tabs=timeline%2C%20messages%2C%20events%2C%20posts&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
        width="500" height="500" 
        style="border:none;overflow:hidden;display:block;margin: 0 auto" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


